//  Paleta base de Home.html
$color-primario: #007bff;   
$color-secundario: #00c6ff;
$color-primario-footer: #46d3f7;
$color-secundario-footer: #23b4c7;

//  ----------------

// Paleta base de Carga.html (solo header).
$color-pri-carga: #00ff88ee;
$color-sec-carga: #1bc1f8;

// -----------------